@use '../../styles/mixins'as *;

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.bio-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}



.bio {
  display: flex;
  width: 100%;
  margin-top: 20px ;
  margin-bottom: 30px;
  justify-content: flex-start;
  gap: 13px;
  background-color: #F7F9FD;
  padding: 15px;
  border-radius: 16px;
  color: var(--primary-text-color);

  @include md {
    flex-direction: row;
    align-items: center;
  }

  .thumbnail-wrapper {
    display: none;

    @include md {
      display: block;
    }
  }
}


.bio-title {
  font-size: 17px;
  font-weight: bold;
  color: var(--tab-hover-text-color);
  //background-color: #F9F9F9;

}

.bio-desc {
  font-size: 15px;
  font-style: italic;
  color: var(--button-text-color);
}

.vertical-stack {
  display: flex;
  flex-direction: column;
}
