@use '../../styles/mixins'as *;
@use '../../styles/variables'as *;

.post-tabs-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  top: 0px;
  width: 100%;

  .post-tabs {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: $content-max-width + 40px;
    margin-bottom: 5px;

    .mui-tabs {
      .MuiTab-root {
        height: 30px;
        min-height: auto;
        min-width: auto;
        padding: 4px 10px;
        color: #4E3636;
        font-weight: 500;
        font-size: 13px;
        transition: all 200ms ease;
        border-radius: 6px;
        margin-right:10px;
        background: #FBF8F1;

      }

      .Mui-selected {
        transition: all 200ms ease;
        color: #222222;
        background-color: #D8D3CD;
      }

      .MuiTabScrollButton-root {
        height: 40px;
        width: 20px;
      }

      .MuiTabs-scrollable {
        height: 40px;
      }

      .MuiTabs-indicator {
        display: none;
      }
    }
  }
}
