@use '../../styles/mixins'as *;
@use '../../styles/variables'as *;

.post-tabs-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  top: 0px;
  width: 100%;

  .post-tabs {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: $content-max-width + 40px;
    margin-bottom: 12px;

    .mui-tabs {
      display: flex !important;
      flex-wrap: wrap !important;
      justify-content: center;
      gap: 10px 10px;

      .MuiTabs-flexContainer {
        display: flex !important;
        flex-wrap: wrap !important;
        gap: 10px 10px;
      }

      .MuiTab-root {
        height: 28px;
        min-height: auto;
        min-width: auto;
        padding: 4px 8px;
        color: var(--primary-text-color);
        font-weight: 400;
        font-size: 13px;
        transition: all 200ms ease;
        border-radius: 6px;
        border: 1px solid rgb(173 181 189);
        margin: 0;
        text-transform: none;
      }

      .Mui-selected {
        transition: all 200ms ease;
        background-color: var(--button-background-color);
      }

      .MuiTabs-indicator {
        display: none;
      }
    }
  }
}
